body {
    font-family: Arial, sans-serif;
    padding-top: 80px;
    background-color: #f9f9f9;
    margin: 0;
}

/* HEADER STYLES */
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: pink;
    color: white;
    z-index: 1000;
    font-family: 'DynaPuff', serif;
}

/* HEADER  */
.nav-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 40px;
}

/* TITLE */
.nav-wrap a {
    text-decoration: none;
    color: inherit;
}

.nav-wrap h1 {
    font-size: 2rem;
    margin: 0;
    padding: 0;
    line-height: 1;
    color: white;
}

/* NAV */
nav.navbar {
    margin: 0;
    padding: 0;
}

nav.navbar ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 0;
    padding: 0;
}

/* NAV LINKS */
nav.navbar ul li a,
nav.navbar ul li a:visited,
nav.navbar ul li a:active {
    text-decoration: none;
    color: white;
    font-family: 'DynaPuff', serif;
    font-size: 1rem;
    display: inline-block;
    padding: 10px 15px;
    line-height: 1;
    vertical-align: middle;
    transition: all 0.2s ease;
}

/* HOVER EFFECT */
nav.navbar ul li a:hover {
    transform: translateY(-3px);
    background-color: peachpuff;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.8);
    border-radius: 20px;
}

@media (max-width: 768px) {


    .nav-wrap {
        flex-direction: column;
        align-items: center;
        padding: 5px;
        height: auto;
    }

    .nav-wrap h1 {
        font-size: 1.3rem;
        text-align: center;
    }

    nav.navbar ul {
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }

    nav.navbar ul li a {
        font-size: 0.9rem;
        padding: 6px 10px;
    }

    .hamburger,
    .nav-toggle {
        display: none !important;
    }
}


/*home page*/

.puppypic {
    width: 100%;
    height: 900px;
    object-position: 50% 50%;
    object-fit: cover;
    display: block;
}

.overlay-text {
    font-family: 'Dynapuff', serif;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    font-size: 5em;
    text-shadow: 1px 1px 2px darkblue;
    text-align: center;
    border-radius: 10px;
    z-index: 3;
    width: 80%;
    color: white;
}

.paragraph {
    position: relative;
    width: 100%;
    margin-bottom: 0px;

}

.overlay-text3 {
    font-family: 'Dynapuff', serif;
    font-size: 300%;
    color: orange;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 1);
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    width: 80%;
    z-index: 3;
}

.orangepic {
    width: 100%;
    height: 800px;
    object-fit: cover;
    display: block;
    opacity: 0.5;
    object-position: 50% 40%;
}

#button-services {
    color: black;
    font-size: 3rem;
    font-family: 'DynaPuff', serif;
}

#button-services span {
    display: inline-block;
    transition: transform 0.3s ease;
}

#button-services span:hover {
    color: orange;
    transform: rotate(2deg);
}

.services {
    padding: 200px 100px;
    text-align: center;
    background-color: peachpuff;

}

.services-container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    gap: 30px;

}

.service-item {
    flex: 1;
    padding: 50px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}

.service-item a {
    text-decoration: none;
    color: inherit;
}

.service-item img {
    width: 100%;
    height: 300px;
    object-fit: cover;

    border-radius: 8px;
    margin-bottom: 15px;
}

.service-item h3 {
    margin-bottom: 10px;
    font-size: 1.3rem;
}

.service-item p {
    color: #555;
    font-size: 0.95rem;
    line-height: 1.5;
}

.service-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
    transition: box-shadow 0.3s ease;
}

.puppyBottomPic {
    width: 100%;
    height: 500px;
    object-position: 50% 20%;
    object-fit: cover;
    display: block;
}


@media (max-width: 768px) {

    .overlay-text {
        top: 50%;
        font-size: 4rem;
        padding: 10px;
        width: 90%;

    }

    .services-container {
        flex-direction: column;

    }

}

.testimonial-container {
    position: relative;
    width: 100%;

}

.pawpic2 {
    width: 100%;
    height: 800px;
    object-fit: cover;
    display: block;
    opacity: 0.5;
    object-position: 50% 40%;
}

.overlay-text2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.7);
    padding: 70px;
    text-align: center;
    border-radius: 10px;
    width: 50%;
    z-index: 3;
    color: black;
    font-size: 150%;
}

/* Gallery page */
.gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    max-width: 1200px;
    margin: 80px auto;
}

.gallery img,
.gallery .image-hover {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
    position: relative;
}


.gallery img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.image-hover {
    position: relative;
    overflow: hidden;
}

.image-hover img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 0.3s ease;
}

.image-hover .hover-img {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.image-hover:hover .hover-img {
    opacity: 1;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 15px;
    text-align: left;
    margin-top: 30px;
}

#galleryh2 {
    padding: 15px;
    text-align: center;
    padding-top: 30px;
    color: orange;
    font-family: 'DynaPuff', serif;

}

@media (max-width: 768px) {
    .gallery {
        grid-template-columns: 1fr;
        gap: 10px;
    }

    .gallery .image-hover {
        height: 800px;
    }

    header nav ul {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    body {
        padding-top: 200px;
    }
}

/* CONTACT PAGE*/
.maps {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    max-width: 1200px;
    margin: 80px auto;
}
.maps h2 {
    font-size: 3em;
    text-align: center;
}

#contact {
    font-style: italic;
    font-size: 1.5em;
    text-align: center;
}


.contact-section {
    position: relative;
    width: 100%;
    padding: 80px 0;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.contact-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    /* the soft veil */
    z-index: 0;
}

.contact-inner {
    position: relative;
    z-index: 1;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.formcomments {
    text-align: center;
    margin-bottom: 30px;
}

.form-and-image {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    align-items: flex-start;
}

.form-wrapper {
    flex: 1 1 500px;
    background-color: #fff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.image-contact {
    flex: 1 1 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-contact img {
    max-width: 100%;
    height: auto;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/*  SERIVCES  */
.service-wrapper {
    padding: 40px 20px;

}

.services-table {
    background-color: white;
    border-radius: 15px;
    padding: 30px;
    margin: 0 auto;
    box-sizing: border-box;
}

.services-table h2 {
    text-align: center;
    color: orange;
    font-family: 'Dynapuff', serif;
    font-size: 4rem;
    margin-bottom: 30px;

}

.services-table thead {
    font-family: 'Dynapuff', serif;
    font-size: 2rem;
    text-align: center;
}

.services-table table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: pink;

}

.services-table th,
.services-table td {
    padding: 40px;
    text-align: left;
    border-bottom: 3px solid #ddd;
    border-right: 3px solid #ddd;
    vertical-align: top;
    font-size: 1.5rem;
}

.services-table th {
    background-color: #f2dede;
    color: #333;
}

.services-table tr:hover {
    background-color: #fef2f2;
}

@media (max-width: 768px) {
    body {
        font-size: 90%;
    }

    .overlay-text3 {
        font-size: 1.2rem;
        padding: 15px;
    }

    .services-table h2 {
        font-size: 2rem;
    }

    .services-table th,
    .services-table td {
        padding: 20px;
    }
}

/*bookings */

.booking-form {
    text-align: center;
    margin-bottom: 30px;
}

.bookingform-and-image {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    align-items: flex-start;
}

.form-wrapper {
    flex: 1 1 500px;
    background-color: #fff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    background-color: pink;
}

.bookingImage-contact {
    flex: 1 1 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bookingImage-contact img {
    max-width: 100%;
    height: auto;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.booking-section {
    position: relative;
    width: 100%;
    padding: 80px 0;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.booking-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    /* the soft veil */
    z-index: 0;
}

.booking-inner {
    position: relative;
    z-index: 1;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.booking-section h2 {
    color: orange;
    font-family: 'Dynapuff', serif;
    font-size: 2rem;

}